# --- Python кеш ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Віртуальне оточення ---
.env
.venv
env/
venv/
ENV/

# --- Специфіка Flask ---
instance/
.flaskenv
.secrets
.webassets-cache

# --- Локальна база даних (SQLite) ---
*.sqlite3
*.sqlite3-journal
*.db
instance/*.db

# --- Тестування та pytest ---
.coverage
.cache
.pytest_cache/
.htmlcov/

# --- Налаштування середовищ розробки (IDE) ---
.idea/
.vscode/
*.swp
*.swo

# --- Системні файли ОС ---
.DS_Store
Thumbs.db
