# --- Ядро додатка Flask ---
Flask>=3.0.0
Werkzeug>=3.0.0

# --- Робота з базою даних та міграціями ---
Flask-SQLAlchemy>=3.1.0
Flask-Migrate>=4.0.0

# --- Веб-форми та валідація ---
Flask-WTF>=1.2.0
WTForms>=3.1.0

# --- Тестування (pytest) ---
pytest>=8.0.0

# --- Утиліти (Безпечне зберігання секретів) ---
python-dotenv>=1.0.0
